---
import Layout from "../layouts/Layout.astro";
import * as data from "../../public/data.json";
import ComponentArea from "../helpers/ComponentArea.astro";

const { content } = data;
---

<Layout title="Welcome to Astro.">
	<main>
		<ComponentArea content={content} />
	</main>
</Layout>

<style>
	main {
		max-width: 1440px;
		margin: 0 auto;
	}
</style>
