---
import Layout from "../layouts/Layout.astro";
import * as data from "../../public/data.json";
import ComponentMapper from "../ComponentMapper.astro";

const { content } = data;
---

<Layout title="Sterbegeldversicherung">
  <main>
    <ComponentMapper content={content} />
  </main>
</Layout>

<style>
  main {
    max-width: 1440px;
    margin: 0 auto;
  }
</style>
