<div>Sterbegeldrechner</div>
<img
    class="image"
    src="https://images.unsplash.com/photo-1564986410613-97e0b371efe5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2681&q=80"
/>

<style>
    .image {
        width: 300px;
        height: auto;
    }
</style>
