---
import ComponentMapper from "../ComponentMapper.astro";

const { content } = Astro.props;
---

<div class="row">
  <ComponentMapper content={content} />
</div>

<style>
  .row {
    display: flex;
  }
</style>
